.riskStatusGreen{
    color: green;
    background-color: rgba(156, 224, 210, 0.859);
    border-radius:5px;
}
.riskStatusRed{
    color: red;
    background-color: rgb(248, 184, 200);
    border-radius:5px;
}